CMakeLists.txt.user
src/speedcrunch.pro.user
/.idea
cmake-build-debug
build/
src/build*/
**/.DS_Store
doc/src/_build-*/.doctrees/
doc/build_html_embedded/*/.doctrees/
src/tests/.qmake.stash
src/tests/*.o
src/tests/moc_*
src/tests/Makefile
src/tests/testevaluator.app
Testing/
