[Desktop Entry]
Type=Application
Name=SpeedCrunch
Name[ar]=SpeedCrunch
Name[bg]=SpeedCrunch
Name[bn]=SpeedCrunch
Name[ca]=SpeedCrunch
Name[cs]=SpeedCrunch
Name[da]=SpeedCrunch
Name[de]=SpeedCrunch
Name[el]=SpeedCrunch
Name[en_GB]=SpeedCrunch
Name[en_US]=SpeedCrunch
Name[es]=SpeedCrunch
Name[es_ES]=SpeedCrunch
Name[et]=SpeedCrunch
Name[eu]=SpeedCrunch
Name[fa]=SpeedCrunch
Name[fi]=SpeedCrunch
Name[fr]=SpeedCrunch
Name[gl]=SpeedCrunch
Name[he]=SpeedCrunch
Name[hi]=SpeedCrunch
Name[hu]=SpeedCrunch
Name[id]=SpeedCrunch
Name[it]=SpeedCrunch
Name[ja]=SpeedCrunch
Name[ko]=SpeedCrunch
Name[lt]=SpeedCrunch
Name[lv]=SpeedCrunch
Name[ms]=SpeedCrunch
Name[nb]=SpeedCrunch
Name[nl]=SpeedCrunch
Name[pl]=SpeedCrunch
Name[pt_BR]=SpeedCrunch
Name[pt_PT]=SpeedCrunch
Name[ro]=SpeedCrunch
Name[ru]=SpeedCrunch
Name[sk]=SpeedCrunch
Name[sl]=SpeedCrunch
Name[sv]=SpeedCrunch
Name[sw]=SpeedCrunch
Name[ta]=SpeedCrunch
Name[te]=SpeedCrunch
Name[th]=SpeedCrunch
Name[tr]=SpeedCrunch
Name[uk]=SpeedCrunch
Name[uz_Latn]=SpeedCrunch
Name[vi]=SpeedCrunch
Name[zh_CN]=SpeedCrunch
Name[zh_TW]=SpeedCrunch
Exec=speedcrunch
Icon=org.speedcrunch.SpeedCrunch
StartupWMClass=speedcrunch
Comment=A high-precision scientific calculator
Comment[ar]=آلة حاسبة علمية عالية الدقة
Comment[bg]=Научен калкулатор с висока точност
Comment[bn]=উচ্চ-নির্ভুল বৈজ্ঞানিক ক্যালকুলেটর
Comment[ca]=Una calculadora científica d'alta precisió
Comment[cs]=Vysoce přesná vědecká kalkulačka
Comment[da]=En videnskabelig lommeregner med høj præcision
Comment[de]=Ein hochpräziser wissenschaftlicher Taschenrechner
Comment[el]=Επιστημονική αριθμομηχανή υψηλής ακρίβειας
Comment[en_GB]=A high-precision scientific calculator
Comment[en_US]=A high-precision scientific calculator
Comment[es]=Una calculadora científica de alta precisión
Comment[es_ES]=Una calculadora científica de alta precisión
Comment[et]=Kõrgtäpne teaduslik kalkulaator
Comment[eu]=Zehaztasun handiko kalkulagailu zientifikoa
Comment[fa]=ماشین‌حساب علمی با دقت بالا
Comment[fi]=Erittäin tarkka tieteellinen laskin
Comment[fr]=Une calculatrice scientifique de haute précision
Comment[gl]=Unha calculadora científica de alta precisión
Comment[he]=מחשבון מדעי בדיוק גבוה
Comment[hi]=उच्च-सटीकता वाला वैज्ञानिक कैलकुलेटर
Comment[hu]=Egy nagy pontosságú tudományos számológép
Comment[id]=Kalkulator ilmiah presisi tinggi
Comment[it]=Una calcolatrice scientifica ad alta precisione
Comment[ja]=高精度の科学計算機
Comment[ko]=고정밀 공학용 계산기
Comment[lt]=Labai tikslus mokslinis skaičiuotuvas
Comment[lv]=Augstas precizitātes zinātniskais kalkulators
Comment[ms]=Kalkulator saintifik berketepatan tinggi
Comment[nb]=En vitenskapelig kalkulator med høy presisjon
Comment[nl]=Een wetenschappelijke rekenmachine met hoge precisie
Comment[pl]=Wysokoprecyzyjny kalkulator naukowy
Comment[pt_BR]=Calculadora científica de alta precisão
Comment[pt_PT]=Uma calculadora científica de alta precisão
Comment[ro]=Un calculator științific de înaltă precizie
Comment[ru]=Научный инженерный калькулятор
Comment[sk]=Vysokopresná vedecká kalkulačka
Comment[sl]=Visokonatančen znanstveni kalkulator
Comment[sv]=En vetenskaplig miniräknare med hög precision
Comment[sw]=Kikokotoo cha kisayansi chenye usahihi wa juu
Comment[ta]=உயர் துல்லியமான அறிவியல் கணிப்பான்
Comment[te]=అధిక ఖచ్చితత్వం గల శాస్త్రీయ కాలిక్యులేటర్
Comment[th]=เครื่องคิดเลขวิทยาศาสตร์ความแม่นยำสูง
Comment[tr]=Yüksek hassasiyetli bilimsel hesap makinesi
Comment[uk]=Високоточний науковий калькулятор
Comment[uz_Latn]=Yuqori aniqlikdagi ilmiy kalkulyator
Comment[vi]=Máy tính khoa học có độ chính xác cao
Comment[zh_CN]=高精度科学计算器
Comment[zh_TW]=高精度科學計算器
Categories=Qt;Utility;Calculator;
# TRANSLATORS: Extra keywords for finding the application in the desktop environment. The trailing ';' is important!
Keywords=arithmetic;calculation;math;scientific;
Keywords[ar]=حساب;حسابات;رياضيات;علمي;
Keywords[bg]=аритметика;изчисление;математика;научен;
Keywords[bn]=পাটিগণিত;গণনা;গণিত;বৈজ্ঞানিক;
Keywords[ca]=aritmètica;càlcul;matemàtiques;científica;
Keywords[cs]=aritmetika;výpočty;matematika;vědecká;
Keywords[da]=aritmetik;beregning;matematik;videnskabelig;
Keywords[de]=arithmetik;berechnungen;rechnen;mathe;mathematik;wissenschaftlich;
Keywords[el]=αριθμητική;υπολογισμός;μαθηματικά;επιστημονικό;
Keywords[en_GB]=arithmetic;calculation;math;scientific;
Keywords[en_US]=arithmetic;calculation;math;scientific;
Keywords[es]=aritmética;cálculo;matemáticas;científica;
Keywords[es_ES]=aritmética;cálculo;matemáticas;científica;
Keywords[et]=aritmeetika;arvutamine;matemaatika;teaduslik;
Keywords[eu]=aritmetika;kalkulua;matematika;zientifikoa;
Keywords[fa]=حساب;محاسبه;ریاضی;علمی;
Keywords[fi]=aritmetiikka;laskenta;matematiikka;tieteellinen;
Keywords[fr]=arithmétique;calcul;mathématiques;scientifique;
Keywords[gl]=aritmética;cálculo;matemáticas;científica;
Keywords[he]=אריתמטיקה;חישוב;מתמטיקה;מדעי;
Keywords[hi]=अंकगणित;गणना;गणित;वैज्ञानिक;
Keywords[hu]=aritmetika;számítás;matematika;tudományos;
Keywords[id]=aritmetika;perhitungan;matematika;ilmiah;
Keywords[it]=aritmetica;calcolo;matematica;scientifico;
Keywords[ja]=算術;計算;数学;科学;
Keywords[ko]=산술;계산;수학;과학;
Keywords[lt]=aritmetika;skaičiavimas;matematika;mokslinis;
Keywords[lv]=aritmētika;aprēķini;matemātika;zinātnisks;
Keywords[ms]=aritmetik;pengiraan;matematik;saintifik;
Keywords[nb]=aritmetikk;beregning;matematikk;vitenskapelig;
Keywords[nl]=rekenkunde;berekening;wiskunde;wetenschappelijk;
Keywords[pl]=arytmetyka;obliczenia;matematyka;naukowy;
Keywords[pt_BR]=aritmética;cálculo;matemática;científico;
Keywords[pt_PT]=aritmética;cálculo;matemática;científica;
Keywords[ro]=aritmetică;calcul;matematică;științific;
Keywords[ru]=арифметика;вычисления;математика;научный;
Keywords[sk]=aritmetika;výpočty;matematika;vedecká;
Keywords[sl]=aritmetika;izračun;matematika;znanstveni;
Keywords[sv]=aritmetik;beräkning;matematik;vetenskaplig;
Keywords[sw]=hesabu;ukokotozi;hisabati;kisayansi;
Keywords[ta]=கணிதம்;கணக்கீடு;கணிதவியல்;அறிவியல்;
Keywords[te]=అంకగణితం;గణన;గణితం;శాస్త్రీయ;
Keywords[th]=เลขคณิต;การคำนวณ;คณิตศาสตร์;วิทยาศาสตร์;
Keywords[tr]=aritmetik;hesaplama;matematik;bilimsel;
Keywords[uk]=арифметика;обчислення;математика;науковий;
Keywords[uz_Latn]=arifmetika;hisoblash;matematika;ilmiy;
Keywords[vi]=số học;tính toán;toán học;khoa học;
Keywords[zh_CN]=计算;数学;科学计算;计算器;公式;
Keywords[zh_TW]=計算;數學;科學計算;計算器;公式;
